@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --background-color: linear-gradient(-45deg, #00c1df, #0028ff, #000428, #000428, #004e92);
  --color: #3123dd; */
  /* --background-color: #3123dd;
  --color: #3123dd; */
  --initial-vh: 100vh; /* fallback value */
}

/* SMOOTH SCROLLING */
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  /* TODO - temporary remove once we work on dark/light color schemes */
  /* background: linear-gradient(-45deg, #00c1df, #0028ff, #000428, #000428, #004e92);
  background-size: 125% 125%;
  animation: gradient 10s ease infinite;
  -moz-animation: gradient 10s ease infinite;
  -webkit-animation: gradient 10s ease infinite;
  -o-animation: gradient 10s ease infinite;
  -ms-animation: gradient 10s ease infinite; */
}

[data-theme="dark"],
[data-theme="dark"] body,
[data-theme="dark"] html {
  /* background: linear-gradient(-45deg, #00c1df, #0028ff, #000428, #000428, #004e92);
  background-size: 125% 125%;
  animation: gradient 10s ease infinite;
  -moz-animation: gradient 10s ease infinite;
  -webkit-animation: gradient 10s ease infinite;
  -o-animation: gradient 10s ease infinite;
  -ms-animation: gradient 10s ease infinite; */
  /* background-size: 400% 400%; */
  /* --background-color: linear-gradient(-45deg, #00c1df, #0028ff, #000428, #000428, #004e92); */
  /* background-color: #000;
  color: #12adaa; */
}

.b {
  border: 2px solid blue;
}

body {
  /*background: linear-gradient(-45deg, #004e92, #0028ff, #000428, #000428, #0028ff);  */
  /* background: linear-gradient(-45deg, #000, #000000, #000428, #000428, #0028ff); */
  /* background: linear-gradient(-45deg, #00c1df, #0028ff, #000428, #000428, #004e92);
  background: linear-gradient(-45deg, #00c1df, #0028ff, #000428, #000428, #004e92); */

  /* background-size: 125% 125%;
  animation: gradient 10s ease infinite;
  -moz-animation: gradient 10s ease infinite;
  -webkit-animation: gradient 10s ease infinite;
  -o-animation: gradient 10s ease infinite;
  -ms-animation: gradient 10s ease infinite; */

  /* Image credit: Dall-E AI Generated Background Image - https://chat.openai.com/ */
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.95)), url(/assets/DALLE_space.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: calc(var(--initial-vh) + 60px); */

  /* background-size: contain; */
  /* height: calc(100vh + 60px); */
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Style for the scrollbar  */
::-webkit-scrollbar {
  width: 15px; /* width of the scrollbar */
}

/* Style for the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #e3a812;
  border-radius: 50px;
}

/* Style for the scrollbar track */
::-webkit-scrollbar-track {
  background-color: rgba(37, 40, 57);
}

/* Style for the scrollbar */
::-moz-scrollbar {
  width: 15px; /* width of the scrollbar */
}

/* Style for the scrollbar thumb */
::-moz-scrollbar-thumb {
  background-color: #e3a812;
  border-radius: 50px;
}

/* Style for the scrollbar track */
::-moz-scrollbar-track {
  background-color: rgba(37, 40, 57);
}

/* Style for the scrollbar */
::-ms-scrollbar {
  width: 15px; /* width of the scrollbar */
}

/* Style for the scrollbar thumb */
::-ms-scrollbar-thumb {
  background-color: #e3a812;
  border-radius: 50px;
}

/* Style for the scrollbar track */
::-ms-scrollbar-track {
  background-color: rgba(37, 40, 57);
}

/* Style for the scrollbar */
::-o-scrollbar {
  width: 15px; /* width of the scrollbar */
}

/* Style for the scrollbar thumb */
::-o-scrollbar-thumb {
  background-color: #e3a812;
  border-radius: 50px;
}

/* Style for the scrollbar track */
::-o-scrollbar-track {
  background-color: rgba(37, 40, 57);
}

/* UNDERGLOW ANIMATION */
@keyframes moveGlow {
  0% {
    transform: translateX(-100%);
  }
  40% {
    transform: translateX(100vw);
  }
  100% {
    /* transform: translateX(100%); */
    transform: translateX(-100vw);
  }
}
/* @keyframes moveGlow {
  0% {
    transform: translateX(-100%);
  }
  100% {
    /* transform: translateX(100%); */
/* transform: translateX(100vw);
  }
} */

.glow {
  animation: moveGlow 7s linear infinite;
  /* width: 20px; Adjust the width as needed */
  /* height: 3px; Adjust the height as needed */
  opacity: 0.7; /* Adjust the opacity as needed */
  /* background-color: blue; Adjust the color as needed */
}

/* //UNDERLINE HOVER EFFECT */
/* Custom styles for the underline effect */
.underline-effect::before,
.underline-effect::after {
  content: "";
  display: block;
  height: 2px;
  width: 0;
  background-color: #000; /* Change the color as desired */
  transition: width 0.3s ease; /* Adjust the transition duration as desired */
}

.underline-effect:hover::before {
  width: 100%;
}

.underline-effect:hover::after {
  width: 100%;
}

/*****************HAMBURGER CSS***********************************/
/* Hamburger Menu this is the container box 24x24 px*/
.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

/* Each individual hamburger line */
.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  width: 24px;
  height: 2px;
  top: 0;
  left: 0;
  /* background: #fff; */
  background: grey;
  transform: rotate(0);
  transition: all 0.5s;
}

/* Shifting 2nd hamburger line to middle spot */
.hamburger-middle {
  transform: translateY(7px);
}

/* Shifting 3rd hamburger line to bottom spot*/
.hamburger-bottom {
  transform: translateY(14px);
}

/* WHEN HAMBURGER IS OPEN - ROTATE 90 DEG turning it into '|||' */
.open {
  transform: rotate(90deg);
}

/* Moving top line into diagonal '/' */
.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
}

/* Remove middle because we don't need the third line */
.open .hamburger-middle {
  display: none;
}

/* Moving bottom line into diagonal '\' */
.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
}
