@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background-color: #fff;
  --color: #000;
} */

body {
  color: #000;
  background-color: #fff;
}

[data-theme="dark"] html,
[data-theme="dark"] body {
  background-color: #000;
  /* --color: #fff; */
  color: #12adaa;
}

.b {
  border: 2px solid blue;
}
